html, body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776E65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    /* font-size: 18px; */
}
  
body {
    margin: 80px 0;
}


.game {
    padding: 15px 15px;
    display: table;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.board:focus {
  outline: none;
}

.game-btn {
    border: 0;
    margin : 5px;
}

.game-btn:focus, .game-btn:active {
    outline: none;
    box-shadow: none;
}

.steps {
    float: left;
}

.timer{
    float: right;
}

.board {
    position: relative;
    margin: 0 auto;
    background: #9a9a95;
    padding: 7px;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
} 

.tile-container {
    border-radius: 6px;
    position: relative;
    width: 400px;
    height: 400px;
}
  
.tile {
    display: flex;
    color: #F8FFE5;
    position: absolute;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    z-index: 1;
    border: 7px solid #9a9a95;
    background-color: #F8FFE5;
    justify-content: center;
    align-items: center;
}

.tile-content {
    font-size: 20px;
}

.tile--null {
  background-color: #F8FFE5;
  color: #F8FFE5;
}

.tile--2 {
    background-color: #FFC43D;
    color: #F8FFE5;
}
.tile--4 {
    background: #EF476F;
    color: #F8FFE5;
  }
  .tile--8 {
    background: #1B9AAA;
    color: #F8FFE5;
  }
  .tile--16 {
    background: #06D6A0;
    color: #F8FFE5;
  }
  .tile--32 {
    background: #f37694;
    color: #F8FFE5;
  }
  .tile--64 {
    background: #22c2d6;
    color: #F8FFE5;
  }
  .tile--128 {
    background: #17f8be;
    color: #F8FFE5;
  }
  .tile--256 {
    background: #ffd470;
    color: #F8FFE5;
  }
  .tile--512 {
    background: #eb184a;
    color: #F8FFE5;
  }
  .tile--1024 {
    background: #14727e;
    color: #F8FFE5;
  }
  .tile--2048 {
    background: #05a47b;
    color: #F8FFE5;
  }
  .end {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(85, 85, 85, 0.9);
    color: white;
    font-size: 2rem;
    transition: opacity 0.3s ease-in-out;
  }
  .end btn {
    margin-top: 1rem;
  }
  /* .end.active {
    opacity: 1;
    z-index: 1000;
  } */