html, body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776E65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}
  
body {
    margin: 80px 0;
}


.col-md-3, .col-md-6 {
    border: 1px solid black;
    /* height: 100%; */
    /* width: 100%;*/
}

.container {
    /* border: 1px solid red; */
}

.game {
    /* padding: 15px 10px; */
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}

.game-btn {
    border: 0;
    margin : 1%;
    /* width: 5px; */
}

.game-btn:focus, .game-btn:active {
    outline: none;
    box-shadow: none;
}

.board {
    position: relative;
    margin: 0 auto;
    background: #9a9a95;
    padding: 7px;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    /* width: 100%; */
} 
  .tile-container {
    border-radius: 6px;
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  .tile, .background {
    display: block;
    color: #F8FFE5;
    position: absolute;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .background {
    z-index: 1;
    text-align: center;
    border: 7px solid #9a9a95;
    background-color: #F8FFE5;
  }
  
  .tile {
    opacity: 0;
    z-index: 2;
    background: #FFC43D;
    color: #F8FFE5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    align-items: center;
    transition: 110ms ease-in-out;
    border-radius: 3px;
    border: 7px solid #9a9a95;
    box-sizing: border-box;
}

.scores {
    border: 1px solid blue;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer-widget {
    border: 1px solid #444;
    height: 100%;
    width: 100%;
}